version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - .:/app
    environment:
      - DJANGO_SETTINGS_MODULE=config.settings
      - SPOND_USERNAME=${SPOND_USERNAME}
      - SPOND_PASSWORD=${SPOND_PASSWORD}
      - GOOGLE_SHEET_ID=${GOOGLE_SHEET_ID}
    ports:
      - "8000:8000"
    restart: unless-stopped

volumes:
  static_volume:
